$row-spacing: 1rem;

table.moves {
  table-layout: fixed;

  th {
    font-weight: 500;
    // background: #00000050;

    // &:first-child {
    //   border-radius: 5px 0 0 5px;
    // }

    // &:last-child {
    //   border-radius: 0 5px 5px 0;
    // }
  }

  & > tbody > tr {
    &:first-child > td {
      padding-top: $row-spacing;
    }

    &:last-child > td {
      padding-bottom: $row-spacing;
    }
  }
}

.move-name {
  font-weight: 500;
}
