$row-spacing: 1rem;

table.moves {
  table-layout: fixed;

  th {
    font-weight: 500;
  }

  & > tbody > tr {
    &:first-child > td {
      padding-top: $row-spacing;
    }

    &:last-child > td {
      padding-bottom: $row-spacing;
    }
  }
}

.move-name {
  font-weight: 500;
}
