// $primary: #387ca1;
// $background: #eef;

$suicune-title: #7840f8;
$steel-teal: #4E8EAE;
$blue: #77c4c8;
$mint-cream: #DFDFEF;

$primary: $suicune-title;
$secondary: $steel-teal;
$box: white;
$background: $mint-cream;
