@use './colors' as *;

html,
body,
#root {
  min-height: 100vh;
  box-sizing: border-box;
}

body {
  background: $background;
  color: $bunker;
  display: flex;
  justify-content: center;
  text-align: center;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  display: flex;
  flex-flow: column;
  width: 1300px;
}

img {
  max-width: 100%;
}

label {
  user-select: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
  display: contents;
}
