// $primary: #387ca1;
// $background: #eef;

$blue: #77c4c8;

$rum: #857399;
$snuff: #E4E7F3;
$martinique: #2D2C4E;

$gull-gray: #95A3A9;
$bunker: #12191B;
$emperor: #534453;

$steel-teal: #4E8EAE;
$mint-cream: #EFEFF5;
$not-gull-gray: #BFCFDF;
$lilac-luster: #B598B2;

$primary: $steel-teal;
$content: $mint-cream;
$background: $not-gull-gray;
